<div id="wrapper">
  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light fixed-top ">
        <a href="#" class="navbar-brand">
<h4>ACCA</h4  >
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
               
            </div>
            <div class="navbar-nav ml-auto">
              <a  class="nav-item nav-style " tabindex="-1" [routerLink]="[ '/client/instruction' ]">Home</a>
              <a class="nav-item  nav-style" tabindex="-1" [routerLink]="[ '/client/viewReport' ]">View Reports</a>
              <a  class="nav-item nav-style"tabindex="-1" data-toggle="modal" data-target="#myModal">Quiz Instruction</a>
              <a class="nav-item nav-style " tabindex="-1" data-toggle="modal" data-target="#contactUs">Contact Us</a>
                <!-- <a  class="nav-item nav-style"(click)="login()">Login</a> -->
                <ul class="nav navbar-nav">
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
                      <i class="arrow down"></i>
                    </a>
                    <div class="dropdown-menu">
                    
                      <!-- <a  class="dropdown-item" href="javascript:void(0)"
                         routerLink="/manager/setting">Settings</a> -->
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:void (0)" (click)="logout()">Sign Out</a>
                    </div>
                  </li>
                 
                </ul>
            </div>
        </div>
    </nav>
</div>

  <section id="content-wrapper">
      <div class="row mt-5">
        <div class="col-lg-12">
          <main class="page-content ">
            <div class="container-fluid">
        <div class="row">
          <div class="col s8 offset-s2">
            <h2 class="header">Completed!</h2>
            <div class="card horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-image">
                            <img src="/assets/images/trophy.png" style="width: 250px;height : 250px;">
                          </div>
                    </div>
                    <div class="col-md-2">
        
                    </div>
                    <div class="col-md-6 mt-5">
                      <div class="card-stacked">
                        <div class="card-content">
                          <h4>Name: Ayush Saxena</h4>
                          <h4>Email: saxena.ayush351@gmail.com</h4>
                          <h4>Phone: 1234567890</h4>
                        </div>
                        <br>
                       
                      </div>
                        <h3>Your Total Score: 9/10</h3>
                    </div>
                </div>
            
              
            
            </div>
            
            <!-- Qn with correct answer -->
        <!-- <div class="row mt-5">
            <div class="col-md-4">
                <button class="btn btn-success" (click)="Results()">View Previous Results</button>    </div>
        
        </div>
        <div class="row mt-4" style="overflow-x: auto;">
            <table class="table table-bordered" *ngIf= "status == 1">
                <thead>
                  <tr>
                    <th scope="col"style="text-align: center;">Number</th>
                    <th scope="col"style="text-align: center;">Date</th>
                    <th scope="col"style="text-align: center;">Name</th>
                    <th scope="col"style="text-align: center;">Email</th>
                    <th scope="col"style="text-align: center;">PhoneNo</th>
                    <th scope="col"style="text-align: center;">Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" style="text-align: center;">1</th>
                    <td style="text-align: center;">22/03/2020</td>
                    <td style="text-align: center;">Ayush</td>
                    <td style="text-align: center;">saxena.ayush#51@gmail.com</td>
                    <td style="text-align: center;">1234567890</td>
                    <td style="text-align: center;">9/10</td>
        
        
                  </tr>
                  <tr>
                    <th scope="row" style="text-align: center;">2</th>
                    <td style="text-align: center;">22/03/2020</td>
                    <td style="text-align: center;">Ayush</td>
                    <td style="text-align: center;">saxena.ayush#51@gmail.com</td>
                    <td style="text-align: center;">1234567890</td>
                    <td style="text-align: center;">9/10</td>
                  </tr>
                  <tr>
                    <th scope="row" style="text-align: center;">3</th>
                    <td style="text-align: center;">22/03/2020</td>
                    <td style="text-align: center;">Ayush</td>
                    <td style="text-align: center;">saxena.ayush#51@gmail.com</td>
                    <td style="text-align: center;">1234567890</td>
                    <td style="text-align: center;">9/10</td>
                  </tr>
                </tbody>
              </table>
          </div> -->
        </div>
        </div>
        </div>
        </main>
         
        </div>
      </div>
  </section>

</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">How To Play?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <h6 > 1. If you don't have your account make your account First.</h6>
       <h6 > 2. If already having account sign in with credentials</h6>
       <h6 > 3. Select The Quiz according to choice</h6>
       <h6 > 4. After the finishing test you can view your scores</h6>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="contactUs">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">How To Play?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="col-md-12">
              <label form="sign-email">FirstName</label>

              <div class="form-label-group">
                <input type="text" id="sign-email"  name="sign-email" class="form-control"
                  placeholder="FirstName">
              </div>
            </div>
            <div class="col-md-12">
              <label form="sign-password">LastName</label>

              <div class="form-label-group">
                <input type="text" id="sign-password"  name="sign-password" class="form-control"
                  placeholder="LastName">
              </div>
            </div>
            
            <div class="col-md-12">
              <label form="sign-email">Subject</label>

              <div class="form-label-group">
                  <textarea id="subject" name="subject" placeholder="Write something.." style="width: 100%;"></textarea>

              </div>
            </div>
            
      
      


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <div class="row">
              <div class="col-md-1">
                  <button type="button" class="btn btn-success" >Save</button>

              </div>
          </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>