.bs-example{
  margin: 20px;
}
.bg-image {
  /* The image used */
  background-image: url('/assets/images/back3.jpg');

  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
.nav-style{
  font-weight: 600;
  font-size: large;
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  color: white;
}
.dropdown-menu {
  position: absolute;
  right: 0 !important;
  left: auto;
}
.dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  max-height: 370px;
}
.dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.bg-volor{
  background-color: darkgray;
}




.button{
  position: absolute;
  left: 87%;
  top: 5%;
}
.btnn{
  background-color: brown;
  height: 34px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anchor1{
  height: 343px;
  margin-top: -20px;

}
.content{
  color: gray;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkgray;
  left: 0;
  z-index: 1030;
}
