<div id="wrapper">

  <app-side-bar></app-side-bar>



  <section id="content-wrapper">

    <section class="statistics">
      <div class="container-fluid">
        <div class="row">
          <div class="welcome">
            <div class="container-fluid">
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="content">
                    <h2>Welcome to Dashboard</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="row container-fluid ml-2">
          <section class="card__container  ">
            <header class="card__header border-bottom">
              <h4>Performance Snapshots</h4>
            </header>
            <div class="card__value border-bottom">
              <div class="row">
                <div class="col-md-4">
                  <div class="box">
                    <div class="center">Total Participants</div>
                    <div class="info mt-3">
                      <i class="fa fa-user fa-fw bg-primary"> </i>

                      <h3 class="head  ml-4">{{perfomanceModel.tp}}</h3>
                      <!-- <p>Lorem ipsum dolor sit amet</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box">
                    <div class="center">Corporate Participants</div>
                    <!-- <header class="center"><h5>Total Particpants</h5></header> -->
                    <div class="info mt-3">
                      <i class="fa fa-user fa-fw bg-danger danger"> </i>

                      <h3 class="head ml-4">{{perfomanceModel.cp}}</h3>
                      <!-- <p>Lorem ipsum dolor sit amet</p> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box">
                    <div class="center">Education Participants</div>
                    <div class="info mt-3">
                      <i class="fa fa-user fa-fw bg-success success"> </i>

                      <h3 class="head  ml-4">{{perfomanceModel.ep}}</h3>
                      <!-- <p>Lorem ipsum dolor sit amet</p> -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <footer class="card__footer"></footer>
            <div class="card__meta-data"></div>
          </section>
        </div>
        <div class="row mt-3">



        </div>
      </div>
    </section>
    <div class="row mt-5">
      <div class="col-lg-12">
        <main class="page-content ">
          <div class="container-fluid">
            <div class="row">
              <!-- <div class="col-md-10">
                      <h2>Home</h2>
      
                  </div> -->

            </div>

            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <h4 class="mb-3">Last 12 Month Reach- Edu Institute</h4>

                <div class="mt-5" style="display: block;">
                  <highcharts-chart [Highcharts]="highcharts" [options]="educationChart"
                    style="width: 100%; height: 400px; display: block;">
                  </highcharts-chart>
                </div>
              </div>
              <div class="form-group col-md-6">
                <h4 class="mb-3">Last 12 Month Reach- Corporate</h4>
                <div class="mt-5" style="display: block;">
                  <highcharts-chart [Highcharts]="highcharts" [options]="corprateChart"
                    style="width: 100%; height: 400px; display: block;">
                  </highcharts-chart>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">

              </div>
              <div class="col-md-8">
                <!-- <h4>Month on month bar graph chart of last 12 months -->
                <!-- </h4> <hr> -->
              </div>
            </div>
            <!-- 
        <div class="row">
          <div class="col-md-10">
              <h3>Month on Month Reach- Edu Institiutes</h3> <hr style="align-items: left">
          </div>
      </div>
      <div class="row">
       <div class="form-group col-md-8">
           <div style="display: block;">
             <canvas baseChart 
               [datasets]="barChartData"
               [labels]="barChartLabels"
               [options]="barChartOptions"
               [plugins]="barChartPlugins"
               [legend]="barChartLegend"
               [chartType]="barChartType">
             </canvas>
           </div>
         </div>
      </div> -->
            <!-- <div class="row">
         <div class="col-md-3">
      
         </div>
         <div class="col-md-8">
             <h4>Month on month bar graph chart of last 12 months
           </h4> <hr>
         </div>
      </div> -->

            <div class="row mt-4">

              <div class="col-md-4">
                <h3 class="border-bottom">List Of Engagements</h3>

              </div>
              <div class="col-md-2"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <!-- (click) = 'randomString()' -->
                <button class="btn btn-design" (click)='randomString()' data-toggle="modal"
                  data-target="#myModal">Create New Engagement</button>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-12 ml-sm-auto" style="overflow-x: auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" style="text-align: center;">Serial No.</th>
                      <th scope="col" style="text-align: center;">Date Of Visit</th>
                      <th scope="col" style="text-align: center;">Quiz Audience</th>
                      <th scope="col" style="text-align: center;">Security Code</th>
                      <th scope="col" style="text-align: center;">Total Participation</th>
                      <th scope="col" style="text-align: center;">Participation</th>
                      <th scope="col" style="text-align: center;">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of dashboardlist; let i=index">
                      <th scope="row" style="text-align: center;">{{i+1}}</th>
                      <td style="text-align: center;">{{u.Date}}</td>
                      <td style="text-align: center;">{{u.quizAudience}} </td>
                      <td style="text-align: center;">{{u.securityCode}}</td>
                      <td style="text-align: center;">{{u.totalParticipante}}</td>
                      <td style="text-align: center;">{{u.Participation}}</td>
                      <td style="text-align: center;" [routerLink]="['/admin/viewEng']"><a class="fa fa-eye"
                          (click)="view_engagment()"></a></td>

                    </tr>
                    <tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>

  </section>

</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->

      <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="userForm">
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Location Of Quiz</label>
              <input type="text" id="fn" name="fn" class="form-control" placeholder="location_of_quiz" required
                formControlName="location_of_quiz">
              <show-errors [control]="userForm.controls.location_of_quiz"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Date</label>
              <input type="date" id="ln" name="ln" class="form-control" placeholder="date_visit" required
                formControlName="date_visit">
              <show-errors [control]="userForm.controls.date_visit"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Audience</label>
              <ng-multiselect-dropdown [placeholder]="'Audience Type'" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                formControlName="course">

              </ng-multiselect-dropdown>
              <show-errors [control]="userForm.controls.email"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Security</label>

              <input type="text" id="phone" name="phone" class="form-control" #security type="text"
                placeholder="security" required formControlName="security" disabled>
              <show-errors [control]="userForm.controls.security"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Quiz Audience</label>
              <select class="form-control" formControlName="quiz_audience">

                <option>Select option</option>
                <ng-container *ngFor="let u of list_engagement">
                  <option value={{u.id}}>{{u.type_}}</option>

                </ng-container>
              </select>

              <show-errors [control]="userForm.controls.quiz_audience"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Expected Total Participants</label>

              <input type="text" id="type" name="type" class="form-control" placeholder="expected_part" required
                formControlName="expected_part" appInputOnlyNumber="" maxlength="10">
              <show-errors [control]="userForm.controls.expected_part"></show-errors>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-design2" id=save (click)="save()">Save</button>

            </div>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>