.btn-design{
  background-color: red;
  color: #fff;
  /* border-color: #fff; */
  width: 200px;
  height: 44px;
  }
  .btn-design2{
    background-color: grey;
    color: #fff;
    border-color: #fff;

    }
    @media (min-width: 992px) {


      #content-wrapper {
        position: relative;
        /* top: 55px; */
      }
    }


    input.ng-invalid.ng-touched
  {
    border-color: red;
  }
  