<div id="wrapper">

  <app-side-bar></app-side-bar>

  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
      
        <main class="page-content ">
          <div class="container-fluid">
              <div class="row  border-bottom">
                      <h2>Manage Account</h2>
      
              
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 mt-5  ">
                  <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
                    <form class="form-signin-wrap shadow-lg bg-white corner-border p-4">
                      <h2 class="font-weight-normal text-center">Change Password</h2>
                      <!-- <p class="text-center">By continuing, you agree to ACCA <a href="javascript:void(0)">terms of use</a>, <a
                          href="javascript:void(0)">community guidelines</a> & <a href="javascript:void(0)">privacy policy.</a></p> -->
                      <div class="row mt-4">                        
                    
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <label form="sign-password">Password</label>

                            <input type="password" id="sign-password"  name="sign-password" class="form-control"
                              placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]="passwordModel.password">
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                          <div class="form-label-group">
                            <label form="sign-email">Confirm password</label>

                            <input type="password" id="sign-email"  name="sign-email" class="form-control"
                              placeholder="Confirm password" [ngModelOptions]="{standalone: true}" [(ngModel)]="passwordModel.confirm">
                          </div>
                        </div>
                        
                      
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn" (click)="ChangePassword()">Change Password</button>
                        </div>
                        
                      </div>
                    </form>
                  </section>
                </div>
              </div>
             
            
              <!-- <div class="col-md-12 mt-4">
                  <ul class="nav nav-tabs mb-4 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-deactivated-employee-tab" data-toggle="pill"
                         href="#pills-deactivated-employee"
                         role="tab" aria-controls="pills-activated" aria-selected="false">Account Setting</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-deactivated-checkout-tab" data-toggle="pill"
                         href="#pills-deactivated-checkout" role="tab"
                         aria-controls="pills-deactivated" aria-selected="true" >Change Password</a>
                    </li>
                  
                  </ul>
                </div> -->
                <!-- <div class="px-4">
                  <div class="tab-content" id="pills-tabContent">
                  
                    <div class="tab-pane fade show active " id="pills-deactivated-employee" role="tabpanel"
                         aria-labelledby="pills-deactivated-employee-tab">
                    <form>
                      <div class="form-group row">
                          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">FirstName</strong></label>
      
                        <div class="col-md-6 form-group">
                          <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">LastName</strong></label>
      
                        <div class="col-md-6 form-group">
                          <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Email</strong></label>
      
                        <div class="col-md-6 form-group">
                          <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name">
                        </div>
                      </div>  <div class="form-group row">
                          <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">PhoneNo.</strong></label>
      
                        <div class="col-md-6 form-group">
                          <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name">
                        </div>
                      </div>
                    </form>
                      
                      
                   
                    </div>
                    <div class="tab-pane fade " id="pills-deactivated-checkout" role="tabpanel"
                         aria-labelledby="pills-deactivated-checkout-tab">
                    
                         <div class="col-md-6 mt-2 ml-5 portion">
                          <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
                            <form class="form-signin-wrap shadow-lg bg-white corner-border p-4">
                              <h2 class="font-weight-normal text-center">Change Password</h2>
                              <p class="text-center">By continuing, you agree to ACCA <a href="javascript:void(0)">terms of use</a>, <a
                                  href="javascript:void(0)">community guidelines</a> & <a href="javascript:void(0)">privacy policy.</a></p>
                              <div class="row">                        
                            
                                <div class="col-md-12">
                                  <div class="form-label-group">
                                    <input type="password" id="sign-password"  name="sign-password" class="form-control"
                                      placeholder="Password">
                                    <label form="sign-password">Password</label>
                                  </div>
                                </div>
                                
                                <div class="col-md-12">
                                  <div class="form-label-group">
                                    <input type="password" id="sign-email"  name="sign-email" class="form-control"
                                      placeholder="Re-Type">
                                    <label form="sign-email">Confirm password</label>
                                  </div>
                                </div>
                                
                              
                                <div class="col-md-12 text-center">
                                  <button type="submit" class="btn btn-pill btn-design btn-lg btn-block">Change Password</button>
                                </div>
                                
                              </div>
                            </form>
                          </section>
                        </div>
                      
                   <div class="row mt-5">
          
                   </div>
                      
                      
                   
                    </div>
                  </div>
                </div> -->
      
      </div>
      
      
      
          
      
        </main>

      </div>
    </div>
</section>

</div>


