<!-- <div id="navbar-wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="sidebar-brand"><img src="assets/logo/logo_50x50.png"> <span style="color: white;"> Think Ahead</span></div>      </div>
        <button type="button" [routerLink]="['/home']"  class="btn btn-danger" >logout</button>
      </div>
    <div class="nav">
      <ul class="nav navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
            <p class="arrow down"></p>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</div> -->

<div class="div mb-5 navbg"   >
  <nav class="navbar navbar-inverse navrem">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="sidebar-brand"><img src="assets/logo/logo_50x50.png"> <span style="color: white;"> Think Ahead</span></div>      </div>
        <button type="button" [routerLink]="['/home']"  class="btn btn-danger" >logout</button>
      </div>
    <div class="nav">
      <ul class="nav navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true">
            <p class="arrow down"></p>
          </a>
        </li>

      </ul>
    </div>
  </nav>
  
</div>
<!-- // Submit Code -->



<!-- //End Submit Code -->
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 "  >
    <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
      <form class="form-signin-wrap  shadow-lg bg-white corner-border p-4 formwidh" >
        <div  >
          <h2   class="ques">Question&nbsp;{{questionmodel.no}}.</h2>
         </div>
         <br>
         <div >
          <h5 >
          {{questionmodel.quesdes}}
          </h5>
         </div>
       
         <div class="custom-control custom-radio mt-5">
          <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios"  [(ngModel)]="Radiotext">
          <label class="custom-control-label" for="defaultUnchecked">{{questionmodel.optionA}}</label>
        </div>
        <div class="custom-control custom-radio mt-5">
          <input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios">
          <label class="custom-control-label" for="defaultUnchecked2">{{questionmodel.optionB}}</label>
        </div>
        <div class="custom-control custom-radio mt-5">
          <input type="radio" class="custom-control-input" id="defaultUnchecked3" name="defaultExampleRadios">
          <label class="custom-control-label" for="defaultUnchecked3">{{questionmodel.optionC}}</label>
        </div>

</form>
</section>
  </div>
  <div class="col-md-2">
  </div>
</div>


<div class="div mt-5">
<section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
  <form class="form-signin-wrap  shadow-lg bg-white corner-border p-4 formprogress" >


    <div class="row">
<div class="col-md-1 ">
  <button type="button" class="btn btn-danger ml-1 prevpadding" id="btn1"  *ngIf="questionmodel.flag>1" (click)="prevques()">Prev</button>
</div>
<div class="col-md-8 ">
  <progress max="100" value={{progressbar.dynamic}} style="width: 100%;" > </progress>
</div>
<div class="col-md-1">
  {{questionmodel.no}}/{{progressbar.totalques}}
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-danger" id="btn1"  *ngIf="questionmodel.flag<progressbar.totalques" (click)="nextques()">Next</button>
  <button type="button" class="btn btn-success " id="btn1"   *ngIf="questionmodel.flag==progressbar.totalques" (click)="confirm()">Submit</button>
</div>
</div>
    
    </form>
    </section>
  </div>
<!-- 
<footer>
  <div class="row mt-5" >
    <div class="col-md-1 " style=" margin-top: 1%;  position: absolute; margin-top: 21%; margin-left: 14%;">
      <button type="button" class="btn btn-danger ml-3" id="btn1"  *ngIf="questionmodel.flag>1" (click)="prevques()">Prev</button>
    </div>
    <div class="col-md-8"  style="position: absolute; margin-top: 20%; margin-left: 20%; float: left;">
      <progress max="100" value={{progressbar.dynamic}} style="width: 100%; margin-top: 2%;"></progress>
    </div>
    <div class="col-md-1 " style=" margin-top: 21%; margin-left: 86%; position: absolute;">
      
    </div>
    <div class="col-md-2" style=" margin-top: 21%;  width: 45%; float:right; margin-left: 89%;" >
     
    </div>

  </div>
</footer> -->




  
   