


.bs-example{
  margin: 20px;
}

.square {
  height: 30px;
  width: 40px;
  background-color: #FDFEFE;
  border-radius: 5px;
  margin: 5px;
}

.next {
  border-radius: 5px;
 background-color: #FC264D;
 color: #FDFEFE;
 border: none;
}

.sucess {
  border-radius: 5px;
 background-color: rgb(70, 230, 22);
 color: #FDFEFE;
 border: none;
}
.bg-image {
  /* The image used */
  background-image: url('/assets/images/back3.jpg');

  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
.nav-style{
  font-weight: 600;
  font-size: large;
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  color: white;
}
.dropdown-menu {
  position: absolute;
  right: 0 !important;
  left: auto;
}
.dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  max-height: 370px;
}
.dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.bg-volor{
  background-color: darkgray;
}




.button{
  position: absolute;
  left: 87%;
  top: 5%;
}
.btnn{
  background-color: white;
  height: 34px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.anchor1{
  height: 343px;
  margin-top: -20px;

}
.content{
  color: gray;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkgray;
  left: 0;
  z-index: 1030;
}

.btn-design{
  background-color: grey;
  color: #fff;

  border-color: #fff;
}


.radiocss{
  font-size: 18px;
  font-weight: 600;
}



#btn1 {
 
  font-size: 12px;
  line-height: 1.0;

}

.formwidh {
  width: 100%;
}

.formprogress {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.navbg{
background-color: black;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 22px;
  padding: 10px 0;
  margin: 2px 0;

}

.optionsize{
  height: 70px;
  margin: 5px;
  padding: 2px;
  margin-bottom: 20px;
  
}

.scrollbar{
  overflow: scroll;
  
}

.optionmargin{
  margin: 1%;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
color: #FC264D;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #f44, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


.ques{
  color: #c60808;
  }

  .navrem {
    padding: 1.0rem 1rem;
    font-weight: 700;
    font-size: 30px;
  }

  .prevpadding{
margin-bottom: 10px;
  }
/* -------------------------Radio----------------------------- */

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 2rem;
  height: 2.25rem;
  opacity: 0;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-size: larger;
}