.setmargin{
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 19px;
    margin-bottom: -49px
  }
  
  .container-fluid[_ngcontent-gpe-c1] {
    padding-right: 15px;

    margin-top: 20px;
    /* margin-right: auto; */
    /* margin-left: auto; */
    width: 96%;
  }
  element.style {
    background-color: #FFFFFF;
  }
  /* [_ngcontent-fso-c1] {
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 0px;
  } */
  .container-fluid[_ngcontent-tte-c3] {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    width: 96%;
  }
  
  .ng-scope[_ngcontent-tte-c3] {
    margin-top: 7px;
    font-size: 18px;
    margin-left: 14px;
    margin-right: 0px;
    position: relative;
    left: 7px;
    right: 7px;
    top: 7px;
    bottom: 7px;
  }
  
  h4, .h4 {
    font-size: 19px;
  }
  .ng-scope {
    margin-top: 7px;
    font-size: 18px;
    margin-left: 14px;
    margin-right: 0px;
  }
  .container-fluid1 {
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-top: 20px;
    /* margin-right: 25px; */
    /* margin-left: 5px; */
    width: 96%;
    border:2px solid #000000 ;
    border-radius: 14px;
  }

  /* style="border: 2px solid #000000;border-radius: 14px;margin-left: 24px;
    margin-right: 24px" */
  * {
    box-sizing: border-box;
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  user agent stylesheet
  div {
    display: block;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
  }
  html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  .btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
  }
  :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
  }
  .btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
  }
  :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* table {
    width: 90%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 15px;
    font-size: 14px;
    height: -39px;
    margin-top: 12px;
    margin-left: 34px;
    margin-right: -38px;
  }*/
  .table th {
    background: linear-gradient(to right, #c60808 10%, #ff3300 105%);
    border: none !important;
    color: #fff;
  }
  table {
    width: 90%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 15px;
    font-size: 14px;
    height: -39px;
    margin-top: 12px;
    margin-left: 0px;
  }
  