<!--
<div class="container-fluid setmargin" style="border: 2px solid  #000000; width:98%;border-radius: 14px; ">
  <div class="col-md-12">
      <h2 style="text-align: center">Exam Instruction</h2>
  </div>
  <div class="row">
      <div class="col-md-12">
          <h4>
              <li>
                  The student may not use his or her textbook, course notes, or receive help from a proctor or any other outside source.
              </li>
              <li>
                  Students must complete the 50-question multiple-choice exam within the 75 minute time frame allotted for the exam.
              </li>
              <li>
                  Students must not stop the session and then return to it.This is especially important in the online environment where the system will "time-out" and not allow the student or you to reenter the exam site.
              </li>
          </h4>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12" style="text-align: center;">
          <button class="btn btn-success btn-sm" type="button" (click)="start()" >
              Start Exam
          </button>
      </div>
  </div>
  <br>
</div> -->

<div class="container-fluid container-fluid1" style="background-color: #FFFFFF;">
  <!-- Content Wrapper. Contains page content -->
  <div style="background-color: #FFFFFF;">
    <!-- Content Header (Page header) -->
    <div>
      <!-- Main content -->
      <section class="content">
        <!-- uiView: --><div  class="ng-scope"><div class="container-fluid " >
        <div class="col-md-12">
          <h2 style="text-align: center; margin-top:5px">Exam Instruction</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>
              <li>
                Check your internet connection before the test to ensure that it is not set to disconnect.
              </li>
              <li>
                Test is divided into two parts, after completing first part wait for further instructions.
              </li>
              <div class="table-responsive">
              <li style="list-style-type: none">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                  <tr><th>Part</th>
                    <th>Question</th>
                    <th>Time(minutes)</th>
                  </tr></thead>
                  <tbody>
                  <tr>
                    <td>Aptitude</td>
                    <td>20</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>Technical(JAVA/Android)</td>
                    <td>30</td>
                    <td>30</td>
                  </tr>
                  </tbody>
                </table>
              </li>
              </div>
              <li>
                Each question carry 1 mark, no negative marks.
              </li>
              <li>
                Do not use the <b>" Back "</b> button on your browser during the test once you have begun taking the test.
              </li>
              <li>
                Don't close the window of the test for any reason.
              </li>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
            <button class="btn  btn-sm" style="  background: linear-gradient(to right, #c60808 10%, #ff3300 105%); color:white; font-weight: 600;" type="button" (click)="start()" >
              Start Exam
            </button>
          </div>
        </div>
        <br>
      </div></div>
      </section>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>


