<div id="wrapper">

  <app-side-bar></app-side-bar>



  <section id="content-wrapper">
    <section class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:auto;overflow: scroll;">
      <img class="card-img-top">
      <div class="card-body">
        <h5 class="card-title mt-3 ml-5 ">
          <h3>Create Quiz</h3>
        </h5>
        <div class="col-xs-12 board ml-5"></div>

        <h5 class="card-title mt-4 ml-5">
          <h4>Quiz Name : Science</h4>
        </h5>
      </div>
      <section class="card shadow-lg p-3 mb-5 bg-white rounded " *ngFor="let obj of dataArray ;let i = index"
        style="width:100%">

        <div class="row">
          <div class="col-md-3 mt-4">
            <div class="select">
              <select name="slct" id="slct" (change)="onChange($event.target.value)">

                <option *ngFor="let i of optionList" value={{i.id}}>{{i.type_}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-9">
            <div class="textbox">
              <textarea type="text" placeholder="Question Text"></textarea>
            </div>
          </div>
        </div>

        <div class="row mt-5 ">
          <div class="col-md-2">

          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
            <div class="multiple hide">

              <div *ngFor="let opt of multipleoptions; let j = index">
                <form class="example mt-3">
                  <input type="text" placeholder=" Option" name="search">
                  <button type="submit" (click)="removemultiple(j)"><i class="fa fa-close"></i></button>
                </form>
              </div>

            </div>
          </div>

        </div>
        <div class="row mt-5 ">
          <div class="col-md-5">
          </div>
          <div class="col-md-2 text-center multiple hide mt-2">
            <button type="button" class="btn  btn-outline-danger btn-large " (click)="addmultiple()"
              style="border-style: dashed"><span class="fa fa-plus"></span> &nbsp; Add Option</button>

          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4"></div>
          <div class="col-md-3 multiple hide ml-2">
            <div class="text-center ml-5">
              <div class="select ">
                <select name="slct" id="slct">
                  <option *ngFor="let i of answerList">{{i.name}}</option>
                </select>
              </div>
            </div>

          </div>

        </div>
        <div class="card-footer bg-transparent border-lightgray mt-5 form-inline"> &nbsp;
        </div>

        <div class="row">
          <div class="col-md-11"></div>
          <div class="col-md-1">
            <img src="assets/icons/delete.svg" (click)="removeform(i)">
          </div>
        </div>


      </section>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
          <button type="button" class="btn  btn-danger btn-large " style="border-style: dashed"><span></span> &nbsp;
            Save Question</button>

        </div>
        <div class="col-md-2">
          <button type="button" class="btn  btn-outline-danger btn-large " (click)="addForm()"
            style="border-style: dashed"><span class="fa fa-plus"></span> &nbsp; Add Question</button>

        </div>
      </div>


    </section>
  </section>





</div>