@media (min-width: 992px) {


  #content-wrapper {
    position: relative;
    /* top: 55px; */
  }
}
.icon{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  /* border-bottom: 1px solid #dee2e6; */
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 1px 0;
    margin: -4px 0;
    border-bottom: 2px dashed #c60808;
  }


  .textbox input{
    border: none;
    outline: none;
    background: none;
    /* color: white; */
    font-size: 18px;
    width: 80%;
    
    margin: 0px 0px;
  }

  .dropdown >a{
    border: none;
  background-color: white;
  color: #c60808;
  position: absolute;
  margin-top: -15px;
  }

  

  option
  {
    border: none;
    outline: none;
    overflow: hidden;
  
  }

.h>a:hover{
    color: #c60808;
    font-weight: bolder;
  
  }

  .h>a{
    margin-left: -18px;
  } 

  .board {
      width: 33px;
  height: 4px;
  border-radius: 6px;
  background-color: #2b7ed1;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #c60808;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width:auto;
    height: 3em;
    line-height: 3;
    background: #c60808;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c60808;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .textbox1{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
  }
  .textbox1 input{
    border: none;
    outline: none;
    background: none;
    /* color: white; */
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 50px;
  }

  .hide {
    display: none;
  }
  .left{
    margin-right: 30px;
  }
  textarea {
    overflow: auto;
    resize: vertical;
    width: 100%;
    border: none;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #c60808;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #c60808;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}