<div id="wrapper">

  <app-side-bar></app-side-bar>

  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <main class="page-content ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <h2> Users</h2>

              </div>
              <div class="col-md-3">
                <button class="btn btn-pill btn-design btn-lg btn-block" data-toggle="modal" data-target="#myModal">Add
                  User</button>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-md-12 ml-sm-auto" style="overflow-x: auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" style="text-align: center;"> Serial No.</th>
                      <th scope="col" style="text-align: center;">Name</th>
                      <th scope="col" style="text-align: center;">Email</th>
                      <th scope="col" style="text-align: center;">Phone No</th>
                      <th scope="col" style="text-align: center;">Type</th>
                      <th scope="col" style="text-align: center;">Delete</th>

                      <th scope="col" style="text-align: center;">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let u of userList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize; let i = index">
                      <td style="text-align: center;">{{i + 1}}</td>
                      <th scope="row" style="text-align: center;">{{u.first_name}}&nbsp;{{u.last_name}}</th>
                      <td style="text-align: center;">{{u.email}}</td>
                      <td style="text-align: center;">{{u.phone_no}}</td>
                      <td style="text-align: center;">{{u.user_type}}</td>

                      <td style="text-align: center;" (click)="deleteUser(u.id)"><a class="fa fa-trash"></a></td>

                      <td style="text-align: center;" (click)="viewDetails(u.id)"><a class="fa fa-eye"></a></td>

                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
            <div class="row d-flex justify-content-center mr-5 mt-2">
              <ngb-pagination [collectionSize]="userList.length" [(page)]="page" [maxSize]="7" [rotate]="true"
                [pageSize]="pageSize" class="d-flex justify-content-center" [boundaryLinks]="true">
              </ngb-pagination>
            </div>

          </div>

        </main>

      </div>
    </div>
  </section>

</div>





<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->

      <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="userForm" (ngSubmit)="save()">
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">FirstName</label>
              <input type="text" id="fn" name="fn" class="form-control" placeholder="FirstName" required
                formControlName="first_name">
              <show-errors [control]="userForm.controls.first_name"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">LastName</label>
              <input type="text" id="ln" name="ln" class="form-control" placeholder="LastName" required
                formControlName="last_name">
              <show-errors [control]="userForm.controls.last_name"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Email</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="Email" required
                formControlName="email">
              <show-errors [control]="userForm.controls.email"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Password</label>

              <input type="text" id="phone" name="phone" class="form-control" placeholder="Password" required
                formControlName="password" appInputOnlyNumber="" maxlength="10">
              <show-errors [control]="userForm.controls.password"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Phone</label>

              <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required
                formControlName="phone_no" appInputOnlyNumber="" maxlength="10">
              <show-errors [control]="userForm.controls.phone_no"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Type</label>
              <select id="cars" class="form-control" formControlName="user_type">
                <option value="user">User</option>
                <option value="admin">Admin</option>

              </select>

              <show-errors [control]="userForm.controls.user_type"></show-errors>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-design2" id=save>Save</button>

            </div>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>