<div class="bg">
  <div class="container-fluid">
    <div class="row">
      <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light fixed-top ">
            <a href="#" class="navbar-brand">
              <img class="image" src="../../../assets/images/ACCAlogo.svg">  
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                   
                </div>
                <div class="navbar-nav ml-auto">
                  <!-- <a  class="nav-item nav-style " tabindex="-1" [routerLink]="[ '/home' ]">Home</a> -->
                  <!-- <a class="nav-item  nav-style" tabindex="-1">Play Quiz</a> -->
                  <!-- <a  class="nav-item nav-style"tabindex="-1" data-toggle="modal" data-target="#myModal">Quiz Instruction</a>
                  <a class="nav-item nav-style " tabindex="-1" data-toggle="modal" data-target="#contactUs">Contact Us</a> -->
                    <a  class="nav-item nav-style"(click)="PageLogin()">Login As User</a>
                   
                </div>
            </div>
        </nav>
    </div>
    </div>


       
    <div class="row mt-5">
       <div class="col-md-6 signup">
            <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
              <form class="form-signin-wrap   corner-border p-4">
                <h2 class="font-weight-normal battel-font ml-3">Battle of the Brain</h2>               
                <div class="w3-row-padding w3-padding-6 w3-container">
                  <div class="w3-content">
                    <div class="w3-two">
                  
                      <h5 class="w3-padding-32">
                        We're committed to your success. That's why ACCA is the number one choice for accountancy students worldwide.
              
                        Join the most forward-thinking accountancy body and start your journey today.        </h5>
                </div>

                </div>
              
                    </div>
               
              </form>
            </section>
          </div> 
      <div class="col-md-6  login ">
        <section id="form-signin" class="map-back d-flex align-items-center justify-content-center ">
          <form class="form-signin-wrap shadow-lg bg-white corner-border p-4">
            <h2 class="font-weight-normal text-center">Admin Login</h2>
          <p class="text-center">By continuing, you agree to ACCA's <a href="javascript:void(0)">terms of use</a>, <a
              href="javascript:void(0)">community guidelines</a> & <a href="javascript:void(0)">privacy policy.</a></p>
           <form   >
            <div class="textbox">
              <i class="fa fa-envelope"></i>
              <input type="text"  placeholder="Email"  id="email"  [ngModelOptions]="{standalone: true}" [(ngModel)]="loginModel.email">
            </div>
          
            <div class="textbox">
              <i class="fa fa-lock"></i>
              <input type="password" placeholder="Password " id="pwd" [ngModelOptions]="{standalone: true}" [(ngModel)]="loginModel.password"  >
            </div>
            <div class="div">
              <b style="color: red; margin-left: 30%;">{{loginModel.error}}</b>

            </div>
            <input type="submit" class="btn" value="Sign in" (click)="login()">

          
             </form>
           
      
            </form>
            
          </section>
          <br>
          <div>
     
          </div>
        </div>
      </div>
  </div>
  </div>

  