<div id="wrapper">

  <app-side-bar></app-side-bar>



  <section id="content-wrapper">
    <h3 class="page-heading-wrap bg-white pt-3 pb-2 mb-3 border-bottom sticky-top">Add Engegement</h3>



    <div class="px-4 mt-5">

      <form [formGroup]="userForm">
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">FirstName</label>
              <input type="text" id="fn" name="fn" class="form-control" placeholder="FirstName" required
                formControlName="first_name">
              <!-- <show-errors [control]="userForm.controls.first_name"></show-errors> -->

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">LastName</label>
              <input type="text" id="ln" name="ln" class="form-control" placeholder="LastName" required
                formControlName="last_name">
              <!-- <show-errors [control]="userForm.controls.last_name"></show-errors> -->

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Email</label>
              <input type="text" id="email" name="email" class="form-control" placeholder="Email" required
                formControlName="email">
              <!-- <show-errors [control]="userForm.controls.email"></show-errors> -->

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Password</label>

              <input type="text" id="phone" name="phone" class="form-control" placeholder="Password" required
                formControlName="password" appInputOnlyNumber="" maxlength="10">
              <!-- <show-errors [control]="userForm.controls.password"></show-errors> -->

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Phone</label>

              <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required
                formControlName="phone_no" appInputOnlyNumber="" maxlength="10">
              <!-- <show-errors [control]="userForm.controls.phone_no"></show-errors> -->

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Type</label>
              <select id="cars" class="form-control" formControlName="user_type">
                <option value="user">User</option>
                <option value="admin">Admin</option>

              </select>

              <!-- <show-errors [control]="userForm.controls.user_type"></show-errors> -->

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-design2" id=save (click)="save2()">Save</button>

            </div>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>



  </section>
</div>