<div id="wrapper">

  <app-side-bar></app-side-bar>

  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-9">
      <section id="content-wrapper">
        <section id="form-signin" class="map-back d-flex align-items-center justify-content-center "
          style="width: 100%;" *ngFor="let que of questions">
          <form class="form-signin-wrap  shadow-lg bg-white corner-border p-4 formwidh mt-3" style="width: 100%;">
            <div>
              <h2 class="ques">Question&nbsp;</h2>
            </div>
            <br>
            <div>
              <h5>
                {{que.name}}
              </h5>
            </div>
            <div class="funkyradio"  *ngFor="let option of que.options">
              <div class="funkyradio-danger" >
                <input type="radio" name="radio" id="radio1" />
                <label for="radio1">{{option.name}}</label>
              </div>
         


            </div>
            <div class="card-footer bg-transparent border-lightgray mt-5 form-inline"> &nbsp;

            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 text-center">
                <!-- <button type="button" class="btn  btn-outline-danger btn-large "style="border-style: dashed"><span ></span> &nbsp; Save Question</button> -->

              </div>
              <div class="col-md-2"></div>
              <div class="col-md-1">
                <img src="assets/icons/drawing.svg" data-toggle="modal"
                data-target="#editQuestionModal">
              </div>
              <div class="col-md-1">
                <img src="assets/icons/delete.svg" >
              </div>
            </div>
          </form>
        </section>

      </section>
    </div>
  </div>


</div>


<div class="modal" id="editQuestionModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Question</h4>
        <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="editQuestionForm" >
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Questions</label>
              <input type="text" id="qe" name="qe" class="form-control" placeholder="No of Questions" required ngModel
             >
              <show-errors [control]="editQuestionForm.controls.question"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Option1</label>
              <input type="text" id="qe" name="qe" class="form-control" placeholder="Option1" required ngModel
               >
              <show-errors [control]="editQuestionForm.controls.option1"></show-errors>

            </div>
          </div>

          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Option2</label>
              <input type="text" id="qe" name="qe" class="form-control" placeholder="Option2" required ngModel
             >
              <show-errors [control]="editQuestionForm.controls.option2"></show-errors>

            </div>
          </div>
          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Option3</label>
              <input type="text" id="qe" name="qe" class="form-control" placeholder="Option3" required ngModel
             >
              <show-errors [control]="editQuestionForm.controls.option3"></show-errors>

            </div>
          </div>

          <div class="col-md-12">
            <div class="form-label-group">
              <label form="sign-email">Option4</label>
              <input type="text" id="qe" name="qe" class="form-control" placeholder="Option4" required ngModel
            >
              <show-errors [control]="editQuestionForm.controls.option4"></show-errors>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-1">
              <button type="submit" class="btn btn-success" id="save" >Save</button>

            </div>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>