<section id="form-signin" class="map-back d-flex align-items-center justify-content-center " style="margin-top: 10%;">
    <form class="form-signin-wrap  shadow-lg bg-white corner-border p-4">
      <h2 class="font-weight-normal text-center"> Thanks!!</h2>
      <p class="text-center" style="font-weight: 600;">You will get the detailed report over below mail.<br> If you want to change your mail ,edit an email and submit, Thanks.</p>
      
     <form >
         <div class="row">
             <div class="col-md-1">
                <i class="fa fa-envelope email" ></i>
             </div>
             <div class="col-md-11">
                <div class="textbox">
                    <input type="email" placeholder="example@gmail.com" id="email"  >
                  </div>
             </div>
             <!-- <div class="col-md-2" >
             
             </div> -->
           
          
         </div>
     
     
     
     
      <input type="submit" class="btn" value="Submit"  style="margin-left: 28%;" (click)="save()">

    
     </form>
   

    </form>
    
  </section>
