<div id="wrapper">

  <app-side-bar></app-side-bar>
  <div id="content-wrapper">
    <!-- <nav class="navbar fixed-bottom navbar-light bg-light " style="z-index: 999; display: block;">
      
   
        <button class="btn btn-outline-danger ml-1  pull-right" >Total Participants : 1000</button>
        <button class="btn btn-outline-danger ml-1 pull-right" >Average Score : 65</button>
        <button class="btn btn-outline-danger ml-1 pull-right" >Quiz Name : New Quiz</button>
        <button class="btn btn-outline-danger ml-1 pull-right" >User Type : Corporate</button>

      </nav> -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 ">
        <section class="card__container ">
          <header class="card__header border-bottom">
            <div class="row">
              <div class="col-md-4">
                <h3>
                  Quiz Info : <span style="font-weight: 800;">{{Quiz_Info.Name}}</span>
                </h3>
              </div>
              <div class="col-md-4 mt-1">
                <h5>StartDate:
                  <span style="font-weight: 600;color: brown;"> </span>
                </h5>

              </div>
              <div class="col-md-4 mt-1">
                <h5> EndDate:
                  <span style="font-weight: 600;color: brown;"> </span>
                </h5>
              </div>
            </div>



          </header>
          <div class="card__value border-bottom">
            <div class="row">
              <div class="col-md-4">
                <div class="box">
                  <div class="center ">Total Participants</div>
                  <div class="info mt-3">
                    <h3 class="head">{{Quiz_Info.totalPartcipante}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="center ">Average Score</div>
                  <div class="info mt-3">
                    <h3 class="head2">{{Quiz_Info.Average_Score}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                  <div class="center">Type</div>
                  <div class="info mt-3">
                    <h3 class="head3">{{Quiz_Info.Type}}</h3>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <footer class="card__footer"></footer>
          <div class="card__meta-data"></div>
        </section>
      </div>
    </div>
    <div class="row mt-5">
    </div>
    <div class="">
      <div class="row mt-5">

        <div class="col-md-10 ">
          <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link color" data-toggle="pill" href="#cuckoo" role="tab" aria-controls="pills-cuckoo"
                aria-selected="false">List Of Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#flamingo" role="tab" aria-controls="pills-flamingo"
                aria-selected="true">Top Five</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#ostrich" role="tab" aria-controls="pills-ostrich"
                aria-selected="false">Greater Than 70% </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tropicbird" role="tab" aria-controls="pills-tropicbird"
                aria-selected="false">Less Than 30% </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <button (click)="exportAsXLSX()" class="btn btn-info mb-4 mt-2">Download Excel</button>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="overflow-x: auto;">
          <div class="tab-content mt-3 " style="overflow-x: auto;">
            <div class="tab-pane fade show active" id="flamingo" role="tabpanel" aria-labelledby="flamingo-tab">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Score</th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of TopFive; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{u.Name}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Phone}}</td>
                    <td>{{u.Score}}</td>
                    <td>{{u.Percentage}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="cuckoo" role="tabpanel" aria-labelledby="profile-tab">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Score</th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of listofusers; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{u.Name}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Phone}}</td>
                    <td>{{u.Score}}</td>
                    <td>{{u.Percentage}}</td>
                  </tr>



                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="ostrich" role="tabpanel" aria-labelledby="ostrich-tab">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Score</th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of Greater_than_70; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{u.Name}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Phone}}</td>
                    <td>{{u.Score}}</td>
                    <td>{{u.Percentage}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="tropicbird" role="tabpanel" aria-labelledby="tropicbird-tab">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Score</th>
                    <th scope="col">Percentage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of Less_than_30; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{u.Name}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Phone}}</td>
                    <td>{{u.Score}}</td>
                    <td>{{u.Percentage}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>