
  .styles{
    top: 8px;
    position: absolute;
    left: 20%;
  }
  @media (min-width: 992px) {


    #content-wrapper {
      position: relative;
      /* top: 55px; */
    }
  }
  .head {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    text-align: center;
    /* margin-left: 111px; */
    line-height: 1;
    /* margin: 1rem auto; */
}
.head2 {
  font-weight: bold;
  font-size: 2rem;
  display: block;
  text-align: center;
  /* margin-left: 125px; */
  line-height: 1;
  /* margin: 1rem auto; */
}
.head3 {
  font-weight: bold;
  font-size: 2rem;
  display: block;
  text-align: center;
  /* margin-left: 53px; */
  line-height: 1;
  /* margin: 1rem auto; */
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: red;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a {
  color: red;
  text-decoration: none;
  background-color: transparent;
}